body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-image: url(/Atividade3/img/Frutas.jpg);
    background-size: cover; 
    background-position: center; 
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: #F0F0F0;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 430px;

}

h1 {
    color: #333;
}

button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #257E2E; 
    color: #fff; 
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease; 
    font-weight: bold;
    box-shadow: 0 0 15px rgba(37, 126, 46, 0.5);
}

button:hover {
    background-color: #37BE45;
}

p {
    font-weight: bold;
    margin-top: 10px;
}
